<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <security>
    <requestFiltering relaxedUrlToFileSystemMapping="true" />
  </security>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <aspNetCore processPath=".\ProstoOfp.API.exe" arguments=".\ProstoOfp.api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="inprocess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 90032774-6e3b-495d-9488-93357b2c88a7-->