.hero-wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
}
@media (min-width: 500px) {
  .hero-text {
    min-width: 480px;
  }
}
.hero-image {
  height: 300px;
  background-size: contain;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px #444) opacity(0.6);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: radial-gradient(at center, #fafafa 0%, #1c3c50 100%);
  opacity: 0.5;

  mix-blend-mode: multiply;
}
.hero-text-line-height {
  line-height: 2rem;
}
