.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
@media (min-width: 1536px) {
  .m-l {
    padding-left: calc((100vw - 1546px) / 2);
    padding-right: calc((100vw - 1546px) / 2);
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.back_main {
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  background-image: url(/main_background.svg);
}
.q-table__top {
  padding: 12px 4px;
}

.q-select :deep(.q-field__native) > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.m-t-20 {
  margin-top: 80px;
}
