.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
@media (min-width: 1536px) {
  .m-l {
    padding-left: calc((100vw - 1536px) / 2);
    padding-right: calc((100vw - 1536px) / 2);
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.back_main {
  background-repeat: repeat;
  background-size: auto;
  background-image: url(/main_background.svg);
}

.q-select :deep(.q-field__native) > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.m-t-20 {
  margin-top: 80px;
}

.window-height-100 {
  height: calc(100vh - 50px);
}
@media (min-width: 768px) {
  .window-height-100 {
    height: calc(100vh - 108px);
  }
}
.hero-sizing {
  height: calc(100vh / 2);
}
@media (min-width: 768px) {
  .hero-sizing {
    height: calc(100vh / 3);
  }
}
@media (min-width: 1440px) {
  .hero-sizing {
    height: calc(100vh / 2);
  }
}
.border-edit {
  border-bottom: 1px dotted grey !important;
  cursor: text !important;
}
.q-dialog__inner--minimized {
  padding: 2px !important;
}
.width-65 {
  min-width: 65px;
}

.scroll-height {
  height: calc(100vh - 150px);
}

@media (min-width: 768px) {
  .scroll-height {
    height: calc(100vh - 200px);
  }
}

.padding-2 {
  padding-left: 6px !important;
  padding-right: 2px !important;
}

.q-dialog__backdrop {
  z-index: -1;
  pointer-events: all;
  outline: 0;
  background: rgba(0, 0, 0, 0.7);
}
